---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{#if (getVar 'UUIDcounter')}}
    {{assignVar 'UUIDcounter' (add (getVar 'UUIDcounter') 1)}}
    {{assignVar 'UUIDcatc' (add (toInt (moment unixtimestamp format="x")) (getVar 'UUIDcounter'))}}
{{else}}
    {{assignVar 'UUIDcounter' 1}}
    {{assignVar 'UUIDcatc' (toInt (moment unixtimestamp format="x"))}}
{{/if}}

{{inject "UUIDcatc" (getVar 'UUIDcounter')}}
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{inject "subcategories" category.subcategories}}

{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<div class="page">
    <div class="container category-heading__container">
        {{#unless theme_settings.hide_category_page_heading }}
            <h1 class="page-heading">{{category.name}}</h1>
            <!--{{{region name="category_below_header"}}}-->
        {{/unless}}
    </div>
    
    {{#if category.subcategories}}
    <section class="categoryGrid container">
        
        <div style="text-align:center;width: 100%;margin-bottom: 40px;">
            <div style="width:100%;/* max-width:600px; */margin: auto;text-align:center;padding: 1em 0;background-color:#d20000">
                <h2 style="margin:0;color:white;font-size:2.5em!important;">
                    VALENTINE'S DAY SALE
                </h2>
                <h3 style="color:white;margin:0 0 10px 0;">
                    SELECT TOOL SETS 20% OFF!
                </h3>
            </div>
        </div>
        
        <ul class="categoryGrid_list">
            {{#each category.subcategories}}
            <li class="categoryGrid_list-items">
                <div class="card-wrapper">
                    <article class="card">
                        <figure class="card-figure">
                            <a href="{{url}}" class="card-figure__link">
                                <div class="card-img-container" {{#if theme_settings.its.image_swap_on_hover}} data-image-swap-src="{{#each images}}{{#if @index '===' 1}}{{getImage data 'productgallery_size'}}{{/if}}{{/each}}"{{/if}}>
                                    {{> components/common/responsive-img
                                        image=image
                                        class="card-image"
                                        fallback_size=theme_settings.productgallery_size
                                        lazyload=theme_settings.lazyload_mode
                                        default_image=theme_settings.default_image_product
                                    }}
                                </div>
                            </a>
                        </figure>
                        <div class="card-body"> 
                            <h3 class="card-title">
                                <a href="{{url}}">
                                    {{name}}
                                </a>
                            </h3>                    
                        </div>
                    </article>
                </div>
            </li>
            {{/each}}
        </ul>
    </section>
    {{/if}}


    {{#if theme_settings.its.category_subcat_cards}}
        {{> components/custom/subcat-grid}}
    {{/if}}
    
    <!-- SSCODE: MOBILE SORT/FILTER SELECTOR -->
    <section class="container" id="product-filter-container">
        <button class="sort--button" type="button" onclick="sortfilterBtn()">SORT/FILTER</button>
        <div class="actionBar filter--section_mobile" >
                <fieldset class="form-fieldset actionBar-section" >
                    <div class="form-field" align="left">
                        <!-- SSCODE: SORT SELECTOR -->
                        <label class="form-label" for="sort">{{lang 'common.sorter.sort_by'}}</label>
                        <select class="form-select form-select--small " name="sort" id="all-sort-select-mobile" role="listbox">
                            <option value="best_selling-desc" {{#if sort '==' 'bestselling'}}selected{{/if}}>{{lang 'common.sorter.top_sellers'}}</option>
                            <option value="newest-asc" {{#if sort '==' 'newest'}}selected{{/if}}>{{lang 'common.sorter.newest'}}</option>
                            <option value="name-asc" {{#if sort '==' 'alphaasc'}}selected{{/if}}>{{lang 'common.sorter.alpha_asc'}}</option>
                            <option value="name-desc" {{#if sort '==' 'alphadesc'}}selected{{/if}}>{{lang 'common.sorter.alpha_desc'}}</option>
                            <option value="review-desc" {{#if sort '==' 'avgcustomerreview'}}selected{{/if}}>{{lang 'common.sorter.reviews'}}</option>
                            <option value="price-asc" {{#if sort '==' 'priceasc'}}selected{{/if}}>{{lang 'common.sorter.price_asc'}}</option>
                            <option value="price-desc" {{#if sort '==' 'pricedesc'}}selected{{/if}}>{{lang 'common.sorter.price_desc'}}</option>
                            {{#if (length category.subcategories) '===' 0 }}
                                <option value="custom_sort_order-asc" {{#if sort '==' 'pricedesc'}}selected{{/if}}>Default</option>
                            {{/if}}
                            {{#if result_count}}
                                <option value="relevance" {{#if sort '==' 'relevance'}}selected{{/if}}>{{lang 'common.sorter.relevance'}}</option>
                            {{/if}}
                        </select>
                        <br>
                        <!-- SSCODE: FILTER SELECTOR -->
                        {{#if category.subcategories}}
                        <label class="form-label" for="sort">Filter by:</label>
                        <br>
                        {{#each category.subcategories}}
                            <div class="filter-option">
                            <label class="form-label" for="sort">{{category.subcategories.length}}</label>
                                <input type="checkbox" filter-value="{{id}}" checkbox-filter-all name="filter-all"><label class="form-label" for="filter-all" style="color:black; font-weight: 200;">{{name}}</label>
                                <br>
                            </div>
                        {{/each}}  
                        {{/if}}
                    </div>
                    <button type="button" class="close--button" onclick="closeBtn()">DONE</button>
                </fieldset>
            </div>
    </section>
    
    <!-- SSCODE: DESKTOP VER. SORT/FILTER SELECTOR +  DISPLAY PRODUCTS -->
    <section id="product-listing-all">
        <div class="flex-div-section">
            <div class="actionBar filter--section" >
                <fieldset class="form-fieldset actionBar-section" >
                    <div class="form-field" align="left">
                        <label class="form-label" for="sort">{{lang 'common.sorter.sort_by'}}</label>
                        <select class="form-select form-select--small " name="sort" id="all-sort-select" role="listbox">
                            <option value="best_selling-desc" {{#if sort '==' 'bestselling'}}selected{{/if}}>{{lang 'common.sorter.top_sellers'}}</option>
                            <option value="newest-asc" {{#if sort '==' 'newest'}}selected{{/if}}>{{lang 'common.sorter.newest'}}</option>
                            <option value="name-asc" {{#if sort '==' 'alphaasc'}}selected{{/if}}>{{lang 'common.sorter.alpha_asc'}}</option>
                            <option value="name-desc" {{#if sort '==' 'alphadesc'}}selected{{/if}}>{{lang 'common.sorter.alpha_desc'}}</option>
                            <option value="review-desc" {{#if sort '==' 'avgcustomerreview'}}selected{{/if}}>{{lang 'common.sorter.reviews'}}</option>
                            <option value="price-asc" {{#if sort '==' 'priceasc'}}selected{{/if}}>{{lang 'common.sorter.price_asc'}}</option>
                            <option value="price-desc" {{#if sort '==' 'pricedesc'}}selected{{/if}}>{{lang 'common.sorter.price_desc'}}</option>
                            {{#if (length category.subcategories) '===' 0 }}
                                <option value="custom_sort_order-asc" {{#if sort '==' 'pricedesc'}}selected{{/if}}>Default</option>
                            {{/if}}
                            {{#if result_count}}
                                <option value="relevance" {{#if sort '==' 'relevance'}}selected{{/if}}>{{lang 'common.sorter.relevance'}}</option>
                            {{/if}}
                        </select>
                        <br>
                        {{#if category.subcategories}}
                        <label class="form-label" for="sort">Filter by:</label>
                        <br>
                        {{#each category.subcategories}}
                        <div class="filter-option">
                            <label class="form-label" for="sort">{{category.subcategories.length}}</label>
                            <input type="checkbox" filter-value="{{id}}" checkbox-filter-all name="filter-all"><label class="form-label" for="filter-all" style="color:black; font-weight:200;">{{name}}</label>
                            <br>
                        </div>
                        {{/each}}
                        {{/if}}
                    </div>
                </fieldset>
            </div>
            <div class="lds-block">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div class="grid" id="grid-all-product">
                
            </div>
        </div>
    </section>

    {{#if banners.bottom}}
        {{#if settings.data_tag_enabled}}
            <div class="banners" data-banner-location="bottom">
                {{#each (limit banners.bottom_metadata 1)}}
                    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                        <div data-event-type="promotion-click">
                            {{{this.content}}}
                        </div>
                    </div>
                {{/each}}
            </div>
        {{else}}
            <div class="banners bg-paint-splatter" data-banner-location="bottom">
                <div class="banner">
                    {{{limit banners.bottom 1}}}
                </div>
            </div>
        {{/if}}
    {{/if}}

    {{#if category.description}}
    <div class="template-background">
        <div class="container">
            {{{category.description}}}
        </div>
    </div>
    {{/if}}

    {{!-- {{#if category.products}}
        <div class="container product-carousel__container">
            <div class="product-carousel__header">
                <h2 class="page-heading h1">{{lang 'products.featured' }}</h2>
                {{#unless page_type '===' 'category'}} <a href="{{lang 'products.featured_sublink_url' }}"
                    class="product-carousel__sublink">{{{lang 'products.featured_sublink' }}}</a>{{/unless}}
            </div>
        {{{region name="category_below_description"}}}
        </div>
    {{/if}} --}}
    {{{region name="category_below_content"}}}

    <!-- ITS LOADING OVERLAY -->
    <div class="loadingOverlay loadingOverlay--product-listing"></div>
</div>

<style>
    .grid {
        /* background: #DDD; */
        display: none;
        max-width: 1200px;
        width: 1200px;
        gap: 50px;
        place-items: center;
        margin-top: 10px;
    }

    .grid:after {
        content: '';
        display: block;
        clear: both;
        margin-top: 10px;
    }

    /* ---- .grid-item ---- */

    .product {
        float: center;
        width: 25%;
        min-width: 280px;
        height: 450px;
        padding-bottom: 20px;
        padding-right: 20px;
    }
    
    .flex-div-section {
        display: flex;
        justify-content: flex-start;
    }

    .filter--section{
        width: 300px;
        margin-right: 25px;
    }

    #product-listing-all{
        margin-left: 35px;
    }

    /***************************************************************************/

    .lds-block {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1200px;
        z-index: 999;
    }

    .lds-ring {
        display: inline-block;
        position: relative;
        margin-top: 100px;
        margin-bottom: 100px;
        width: 80px;
        height: 80px;
    }
    
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #3498db;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #3498db transparent transparent transparent;
    }
    
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    
    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
    
    @keyframes lds-ring {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg);  }
    }
    
    input[type='checkbox'] {
        accent-color: red;
        width: 20px;
        height: 20px;
    }
    
    input[type="checkbox"]:active{
        outline:none;
    }
    
    .filter--section_mobile { 
        display:none;
    }
    
    .sort--button {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        background-color: #f9f9f9;
        border-radius: 2px;
        margin-left: 20px;
        margin-bottom: 25px;
        padding: 5px;
        padding-right: 10px;
        padding-left: 10px;
        outline-color: transparent;
        outline-style: solid;
        box-shadow: 0 0 0 0.5px #b8000d;
    }
    
    .close--button {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
        margin-bottom: 30px;
        background-color: #c60b2e;
        color: #faebd7;
        width: -webkit-fill-available;
        padding: 5px;
    }
    
     div.filter-option {
        display: flex;
        align-items: center;
    }
        
    .filter-option {
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: inherit;
    }
        
    .form-select--small {
        font-family: "Oswald", Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 200;
        color: black;
    }
    
    @media only screen and (max-width: 600px) {
        .filter--section { display:none; }
        #product-filter-container {  display:block; } 
        .actionBar.filter--section_mobile { 
            width:275px;
            margin-bottom: 0;
            margin-top: 0;
        }
        #product-listing-all {
            margin-left: 0px;
        }
        .product {
            right: 0px ;
            padding-right: 0px;
            margin: auto;
            width: 90%;
            min-height: auto;
            height:auto !important;
        }
        
        figure.card-figure {
            overflow: visible;
        }
        
        .lds-block {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50px;
            z-index: 999;
            position: absolute;
        }
        
        .lds-ring {
            display: inline-block;
            position: relative;
            margin-top: 100px;
            margin-bottom: 100px;
            width: 30px;
            height: 30px;
        }
        
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 30px;
            height: 30px;
            border: 8px solid #3498db;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: #3498db transparent transparent transparent;
        }
    }
    
    @media only screen and (min-width: 600px) {
        .filter--section { display:block; }
        #product-filter-container { display:none; }
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js"></script>
<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
<script>
    function sortfilterBtn(){ document.querySelector('.filter--section_mobile').style.display = "block"; }
    function closeBtn() { document.querySelector('.filter--section_mobile').style.display = "none"; }
</script>
{{/partial}}
{{> layout/base container_active=false}}
