<div class="card-atc-modal" data-card-atc-modal style="display: none;">
	<h2 class="modal-header-title" data-cart-added-heading></h2>
	<div class="modal-header-actions">
		<a class="button button--alt" href="{{urls.cart}}">
			View Cart
		</a>

		<a href="#" class="button button--alt" role="button" data-reveal-close>
			{{lang 'cart.added_to_cart.continue_shopping'}}
		</a>

		<a class="button button--primary" href="{{urls.checkout.single_address}}">
			{{lang 'cart.added_to_cart.proceed_to_checkout'}}
		</a>
	</div>
</div>
