<article class="blog-side__container">
    <h3 class="blog-sidebar__header h3">
        FILTER BY TAG
    </h3>
    <ul id="tagList" class="blog-sidebar__list">
        <!-- {{#for 1 (lang 'custom.blog.sidebar.filter-by-tag.number-of-tags')}}
        <li class="blog-sidebar__list-item">
            <a href="{{lang (concat (concat 'custom.blog.sidebar.most-popular.post-'$index)'.link')}}">{{lang (concat (concat 'custom.blog.sidebar.filter-by-tag.tag-'$index)'.title')}}</a>
        </li>
        {{/for}} -->
    </ul>
</article>
