<fieldset class="form-fieldset actionBar-section">
    <div class="form-field">
         <label class="form-label" for="sort">Filter By:</label><br>
         <!-- <select class="form-select form-select--small " name="sort" id="sort" role="listbox"> -->
            {{#each category.subcategories}}
            <label class="form-label" for="sort">{{category.subcategories.length}}</label>
            <input type="checkbox" filter-value="{{id}}" checkbox-filter-all name="filter-all"><label class="form-label" for="filter-all">{{name}}</label>
            <!-- <option value="featured" {{#if sort '==' 'featured'}}selected{{/if}}>{{name}}</option> -->
            <br>
            {{/each}}
            <!-- <option value="featured" {{#if sort '==' 'featured'}}selected{{/if}}>{{lang 'common.sorter.featured'}}</option>
            <option value="newest" {{#if sort '==' 'newest'}}selected{{/if}}>{{lang 'common.sorter.newest'}}</option>
            <option value="bestselling" {{#if sort '==' 'bestselling'}}selected{{/if}}>{{lang 'common.sorter.top_sellers'}}</option>
            <option value="alphaasc" {{#if sort '==' 'alphaasc'}}selected{{/if}}>{{lang 'common.sorter.alpha_asc'}}</option>
            <option value="alphadesc" {{#if sort '==' 'alphadesc'}}selected{{/if}}>{{lang 'common.sorter.alpha_desc'}}</option>
            <option value="avgcustomerreview" {{#if sort '==' 'avgcustomerreview'}}selected{{/if}}>{{lang 'common.sorter.reviews'}}</option>
            <option value="priceasc" {{#if sort '==' 'priceasc'}}selected{{/if}}>{{lang 'common.sorter.price_asc'}}</option>
            <option value="pricedesc" {{#if sort '==' 'pricedesc'}}selected{{/if}}>{{lang 'common.sorter.price_desc'}}</option> -->
        <!-- </select> -->
        
    </div>
</fieldset>


